<h4 style="text-align: center;color:lightcoral"><strong>Change Password</strong></h4>
<br>
<form #f="ngForm" (ngSubmit)="onSave(f.value)">

    <div class="row">
        <div class="col-6">
            <label>
                <h5>Current Password</h5>
            </label>
        </div>
        <div class="col-6">
            <input #password ngModel name="password" id="password" type="password" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>
                <h5>New Password</h5>
            </label>
        </div>
        <div class="col-6">
            <input #newPassword ngModel name="newPassword" id="newPassword" type="password" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>
                <h5>Verify Password</h5>
            </label>
        </div>
        <div class="col-6">
            <input #verifyPassword ngModel name="verifyPassword" id="verifyPassword" type="password" class="form-control">
        </div>
    </div>
  <br>

    <p *ngIf="errorMessage" class="error">
            {{errorMessage}}
        </p>
        
    <div class="col-xs-12" style=" display: flex;justify-content: center;">
            <br><br>
            <button class="btn btn-lg btn-success" type="submit" mat-button><i
                    class="glyphicon glyphicon-ok-sign"></i> Save</button>
            <button class="btn btn-lg" type="cancel" mat-button><i class="glyphicon glyphicon-remove"></i>
                Cancel</button>
        </div>


</form>



