<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>User name</h1>
        </div>
        <div class="col-sm-2"> <a [routerLink]="['/main']" class="btn btn-link">Back to Home Page</a></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <div class="text-center">
                <img [src]="userDetails.imageURL?userDetails.imageURL:url" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload"
                    (change)="onFileUpload($event.target.files[0])" (change)="showPreview($event)">
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#messages">Menu 1</a></li>
                <li><a data-toggle="tab" href="#settings">Menu 2</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                  

                    <div class="pull-right">
                        <button class="btn btn-danger" (click)="onEdit()" mat-button>Edit</button>
                    </div>
                    <form #f="ngForm" (ngSubmit)="onSave(f.value)">
                    <br><br>
                    <ul class="list-group">
                        <li class="list-group-item text-muted">Profile <i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-left" *ngIf=[userDetails]>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <h5><strong>FullName</strong></h5>
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <div *ngIf="disabled;else elseBlock">
                                        <h5>{{userDetails.fullName}}</h5>
                                    </div>
                                    <ng-template #elseBlock>

                                        
                                            <input #fullName="ngModel" [(ngModel)]="userDetails.fullName" 
                                            name="fullName" id="fullName" type="text" class="form-control" >
                                 


                                    </ng-template>

                                </div>
                            </div>
                        </li>

                        <li class="list-group-item text-left" *ngIf=[userDetails]>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <h5><strong>Email</strong></h5>
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <div *ngIf="disabled;else elseBlock">
                                        <h5>{{userDetails.email}}</h5>
                                    </div>
                                    

                                    <ng-template #elseBlock>

                                        
                                            <input #email="ngModel" [(ngModel)]="userDetails.email" 
                                            name="email" id="Email" type="text" class="form-control" >
                                 


                                    </ng-template>

                                </div>
                            </div>
                        </li>

                        <li class="list-group-item text-left">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <h5><strong>Password</strong></h5>
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div>
                                                <h5>***********</h5>
                                            </div>
                                         
                                        </div>

                                        <div class="col-md-7">
                                            <div class="pull-right">
                                                <button class="btn btn-danger" (click)="onChangePassword()" mat-button>Change Password</button>                                                                                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-left" *ngIf=[userDetails]>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <h5><strong>Mobile No</strong></h5>
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <div *ngIf="disabled else elseBlock">
                                        <h5>{{userDetails.mobile}}</h5>
                                    </div>

                                    <ng-template #elseBlock>

                                     
                                            <div class="form-group">
                                                <input #mobile="ngModel" [(ngModel)]="userDetails.mobile" 
                                                name="mobile" id="mobile" type="text" class="form-control">
                                            </div>
                                   


                                    </ng-template>

                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="col-xs-12" style=" display: flex;justify-content: center;">
                        <br><br>
                        <button class="btn btn-lg btn-success" type="submit" mat-button><i
                                class="glyphicon glyphicon-ok-sign"></i> Save</button>
                        <button class="btn btn-lg" type="reset" mat-button><i class="glyphicon glyphicon-repeat"></i>
                            Reset</button>
                    </div>
                    </form>
                </div>               
            </div>


            